@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/* General CSS adjustments */
body {
    font-family: 'Open Sans', sans-serif;
    /* color: #cca349; + color: #231f20; */
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* Nav Bar */
.navbar {
    background-color: transparent;
    border-color: transparent;
}

.navlogo {
    margin-top: -10px;
    height: 40px;
    width: auto;
}

.nav.navbar-nav li a {
    color: #cca349;
}

.nav.navbar-nav li a:hover {
    color: #e74c3c;
}

.nav.navbar-nav li a:active {
    color: #e74c3c;
}

.nav.navbar-nav li a:focus {
    color: #e74c3c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #e74c3c; 
    background-color: transparent;
}

.nav.navbar-nav.navbar-right li a {
    color: #e74c3c;
}

.fa.fa-github-alt.fa-lg:hover {
    color: #2c2c2c;
}

.fa.fa-behance.fa-lg:hover {
    color: #1053ef;
}

.fa.fa-twitter.fa-lg:hover {
    color: #00aced;
}

.fa.fa-envelope.fa-lg:hover {
    color: #dd4b39;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Intro Section */
.intro-section {
    height: 100%;
    text-align: center;
    background-color: #ffffff;
}

.particlesjs {
    height: 100%;
    width: 100%;
    text-align: center;
    color: #bdc3c7;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
}

.intrologo {
    height: 300px;
    width: auto;
    position: absolute;
    margin-top: 10vw;
    margin-left: 50%;
    left: -150px;
    z-index: 10;
}

.container.introtext {
    color: #e74c3c;
    margin-top: 70vh;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

.about-section {
    height: 100%;
    padding-top: 75px;
    background: #e6e6e6;
}

.abouttitle {
    color: #e74c3c;
    text-align: center;
}

.know-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.work-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

footer {
    background-color: #e74c3c;
}
