@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir.otf);
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #FF2058;
  background-image: url(../assets/lines.svg);
  background-size: cover;
}

.scene {
  min-height: 100%;
  min-width: auto;
}

#intro-wrapper {
  margin-top: 20rem;
}

#text-svg {
  padding-top: 70px;
}

img {
  width: 100%;
}
