<!-- main.handlebars -->
<!DOCTYPE html>
<html>
    <head>
        <!-- SEO Shenanigans -->
        <meta charset='utf-8'>
        <title>ROHAN MISHRA</title>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel='stylesheet' type='text/css' href='/main.css'>
    </head>
    <body>
        {{{body}}}
    </body>
</html>

