<!-- article.handlebars -->
{{with article}}
<div class='container-fluid'>
    <div id='date' class='row'>
        <div class='col-md-12'>
            <h3>{{title}}</h2>
        </div>
    </div>
</div>
{{/with}}
